page-login {

    .port{
    	padding: 50px;
        height: 250px;
        text-align: center;
    }
    .pic{
    	height: 200px;
    	width: 200px;
    }

    .pad{
        padding-top: 20px;
    }
    .pad1{
        padding-top: 100px;
    }

    .but{
        padding: 10px;
    }

}
