<ion-header>

  <ion-navbar color="you" class="menu">
    <ion-title>{{area?.title}}</ion-title>

    <!--ion-buttons end>
      <button ion-button icon-left [navPush]="mapPlacesPage" [navParams]="{area: area, places$: places$}">
        <ion-icon name="map"></ion-icon>
        Mapa
      </button>
    </ion-buttons-->
    <ion-buttons end>
        <button ion-button icon-start (click)="sort()">
            <ion-icon name="md-repeat"></ion-icon>
        </button>
        <button ion-button icon-start (click)="buscarAlert()">
          <ion-icon name="md-search"></ion-icon>
        </button>
      </ion-buttons>

  </ion-navbar>
  <ion-toolbar color="you" no-border-top>
  <ion-segment [(ngModel)]="mod" color="light">
    <ion-segment-button value="rest">
      Restaurantes
    </ion-segment-button>
    <ion-segment-button value="info">
      mas informacion
    </ion-segment-button>
  </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-fab right bottom>
    <button ion-fab color="you" [navPush]="mapPlacesPage" [navParams]="{area: area, places$: places$}">
      <ion-icon name="md-map"></ion-icon>
    </button>
  </ion-fab>
<!--
  <ion-card *ngFor="let place of places$ | async" [navPush]="placePage" [navParams]="place">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
            <img src="{{place?.images[0]}}" *ngIf="place.images" class="portlist"> 
        
        </ion-col>
        <ion-col col-8 class="place-content">
          <h2 color="danger"><b>{{place.title}}</b></h2>
          
          <div class="excerpt">{{place.excerpt}}</div>
          <div float-right>
          <button ion-button clear></button>
            <ion-badge item-end>Ver mas
                   <ion-icon name="arrow-forward"></ion-icon>
            </ion-badge>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>-->
  <div [ngSwitch]="mod">
    <div *ngSwitchCase="'rest'">
      <ion-item>
        <ion-label>Buscar Por Tipo de restaurante</ion-label>
        <ion-select [(ngModel)]="term" interface="popover">
            <ion-option value="">Todos</ion-option>
          <ion-option value="cafe restaurant">cafe restaurant</ion-option>
          <ion-option value="gourmet">Gourmet</ion-option>
          <ion-option value="especialidad">especialidad</ion-option>
          <ion-option value="familiar">Familiar</ion-option>
          <ion-option value="comida rapida">Comida rapida</ion-option>
          <ion-option value="Vegetariano">Vegetariano</ion-option>
          <ion-option value="nacional y tradicional">Nacional y tradicional</ion-option>
          
        </ion-select>
    </ion-item>
  
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let place of places$ | async | tipo : term | buscar: terms | sortBy:ordenar:'title'" [navPush]="placePage" [navParams]="place" col-12 col-md-4 >
        <ion-card *ngIf="place.enabled">
          <ion-grid>
            <ion-row >
              <ion-col col-4>
                  <img src="{{place?.images[0]}}" *ngIf="place.images" class="avatar" alt="">
                  <img src="../../assets/imgs/alter.png" *ngIf="!place.images" class="avatar" alt="">
              
              </ion-col>
              <ion-col col-8 class="place-content">
                <h2 ion-text color=""><b>{{place.title}}</b></h2>
                <div ion-text color="gray" class="excerpt">{{place.excerpt}}</div>
                <ion-buttons end class="">
                  <button ion-button clear icon-only color="dark">
                    <ion-icon name="more"></ion-icon>
                  </button>
                </ion-buttons>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

    </div>
    <div *ngSwitchCase="'info'">
      <ion-card> 
        <img src="{{area.imageUrl}}" alt="">     
        <ion-card-content>
          <ion-card-title>
            {{area.title}}
          </ion-card-title>
          <p>
              {{area.description}}
          </p>
        </ion-card-content>
    </ion-card>
    <ion-card>    
        <ion-card-content>
          <ion-card-title>
            Gastronomia
          </ion-card-title>
          <div [innerHTML]="area.gastronomy"></div>
        </ion-card-content>
    </ion-card>
    <ion-card>    
        <ion-card-content>
          <ion-card-title>
            Atractivos Turisticos
          </ion-card-title>
          <div [innerHTML]="area.tour"></div>
        </ion-card-content>
    </ion-card>
    <ion-card>    
        <ion-card-content>
          <ion-card-title>
            festividades
          </ion-card-title>
          <div [innerHTML]="area.festivity"></div>
        </ion-card-content>
    </ion-card>
    </div>
    </div>
  





</ion-content>
