<ion-header>
  <ion-navbar color="you">
    <ion-title>Mi Restaurante</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="cards-bg">
   
  <ion-card *ngFor="let place of places$ | async">

      <img src="{{place?.images[0]}}" *ngIf="place.images">
    
        <ion-card-content>
          <ion-card-title>
            {{place.title}}
          </ion-card-title>
          <p>
            {{place.excerpt}}
          </p><br>
          <p>{{place.$key}}</p>
          <ion-item>
              <ion-icon name="md-eye" item-start></ion-icon>
              Habilitado en la app:
              <ion-badge item-end *ngIf="place.enabled" color="secondary" >SI</ion-badge>
              <ion-badge item-end *ngIf="!place.enabled" color="you" >NO</ion-badge>
          </ion-item>
        </ion-card-content>
    
        <ion-row no-padding>
          <ion-col>
            <button ion-button clear color="you" icon-start small [navPush]="editRestPage" [navParams]="place">
              <ion-icon name='create'></ion-icon> Editar
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear color="you" icon-start small (click)="delete(place)">
              <ion-icon name='trash'></ion-icon> Eliminar
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
        <ion-col>
          <button ion-button clear color="you" icon-start small [navPush]="mapRestPage" [navParams]="place">
            <ion-icon name='pin'></ion-icon> Georreferenciar
          </button>
        </ion-col>
        <ion-col >
          <button ion-button clear color="you" icon-start small [navPush]="pictRestPage" [navParams]="place.$key">
            <ion-icon name='image'></ion-icon> Subir Imagenes
          </button>
        </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button clear color="you" small  icon-start [navPush]="newPlato" [navParams]="place.$key">
                  <ion-icon name='restaurant'></ion-icon> Menu de Platos
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-start clear color="you" small [navPush]="comentarioPage" [navParams]="place.$key">
                    <ion-icon name="md-text"></ion-icon> Comentarios 
                </button>
              </ion-col>
        </ion-row>
      </ion-card>

    <ion-fab right bottom>
        <button ion-fab color="you" [navPush]="newRestPage"><ion-icon name="md-add"></ion-icon></button>
    </ion-fab>
</ion-content>
